extends ./base

block append content
    include ./pagelets/nav.jade

    //- 一级页面 右侧
    div.col-md-10.gm-right
        //- 题目管理
        include ./subpage/massMessage.jade

block append footfunc
    link(rel="stylesheet",href="#{adminStaticBase}/wx_film/css/global.css")
    link(rel="stylesheet",href="#{adminStaticBase}/wx_film/css/wx_public.css")
    script(src="#{adminStaticBase}/wx_film/js/formstyle.js")
    script(src="#{adminStaticBase}/wx_film/js/html5.js")
    script(src="#{adminStaticBase}/wx_film/js/jquery.min.js")
    script(src="#{adminStaticBase}/wx_film/js/base.js") 
    script(src="#{adminStaticBase}/ueditor/ueditor.config.js")
    script(src="#{adminStaticBase}/ueditor/ueditor.all.js")
    script(src="#{adminStaticBase}/ueditor/lang/zh-cn/zh-cn.js")
    script(src="#{adminStaticBase}/admin/js/mass/mess.js")
