div.gm-user
    div.gm-question-form
        table.table.table-striped.gm-topic-table
            thead
                tr
                    th
                        | ID
                    th
                        | 组名称
                    th
                        | 组人数
            tbody
                each group in groups
                    tr
                        td(scope="row")
                            | #{group.id}
                        td
                            | #{group.name}
                        td
                            | #{group.count}
    nav
        ul.pagination
            each page in pages
                if page.isCurrent
                    li.active
                        a(href="#{page.link}") #{page.text}
                else
                    li
                        a(href="#{page.link}") #{page.text}