div.gm-user
    - var formURL = '/admin/api/mass/group'
    form#questTable(action=formURL,method="POST")
        input(type="hidden",name="msg_id",id="msg_id",value="#{msg_id}")
        input(type="hidden",name="media_id",id="media_id",value="#{media_id}")
        div.gm-search-bar
            div.col-xs-4
                select.form-control.gname(name="group_id", required="required")
                    each group in groups
                        option(value="#{group.id}") #{group.name}
            a.btn.btn-primary.btn-sm.active.gm-search(role="button") 群发
    div.msgList
        div.con
            //- div.mItem
            //-     span.title
            //-         很好的注意哦
            //-     span.date
            //-         2015年11月09日
            //-     span.operation
            //-         a.toMore
            //-           查看更多
            //- div.mItem
            //-     span.title
            //-     span.date
            //-     span.operation
    div.page
        div.con
