div.gm-user
    div.gm-question-form
        table.table.table-striped.gm-topic-table
            thead
                tr
                    th
                        | 是否订阅
                    th
                        | OPENID
                    th
                        | 昵称
                    th
                        | 性别
                    th
                        | 城市
                    th
                        | 国家
                    th
                        | 省份
                    th
                        | 语言
                    th
                        | 头像
                    th
                        | 用户关注时间
                    th
                        | UnionID
                    th
                        | 备注
                    th
                        | 组ID
            tbody
                each user in users
                    tr
                        td
                            | #{user.subscribe==1 ? '已关注' : '未关注'}
                        td(scope="row")
                            | #{user.openid}
                        td
                            | #{user.nickname}
                        td
                            if user.sex == 1
                                | 男
                            else if user.sex == 2
                                | 女
                            else
                                | 未知
                        td
                            | #{user.city}
                        td
                            | #{user.country}
                        td
                            | #{user.province}
                        td
                            if user.language == 'zh_CN'
                                | 简体中文
                            else
                                | #{user.language}
                        td
                            img.img-rounded(src="#{user.headimgurl}" alt="" width="30px" height="30px")
                        td
                            | #{user.subscribe_time}
                        td
                            | #{user.unionid}
                        td
                            | #{user.remark}
                        td
                            | #{user.groupid}

    nav
        ul.pagination
            each page in pages
                if page.isCurrent
                    li.active
                        a(href="#{page.link}") #{page.text}
                else
                    li
                        a(href="#{page.link}") #{page.text}
    div.row.submit_row
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        div.col-xs-2
            div.radio
                label(for="sex")
                    input(type="radio").input_sex#sex
                    | 性别
        //div.col-xs-6
        div.col-xs-12
            div.col-md-12.submit_select
                div.col-md-2
                    select.form-control(name="level",required="required")
                        option
                            | 男
                        option
                            | 女
                div.col-md-2.col-md-offset-8
            div.col-md-12.submit_select
                div.col-md-2
                    select.form-control(name="level",required="required")
                        option
                            | 男
                        option
                            | 女
                div.col-md-2.col-md-offset-8
            div.col-md-12.submit_select
                div.col-md-2
                    select.form-control(name="level",required="required")
                        option
                            | 男
                        option
                            | 女
                div.col-md-2.col-md-offset-8
                    button.btn.btn-primary.btn-block
                        | 提交
